@model GIS_SCM.Models.Transporter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transporter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Truck.TruckNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Truck.TruckNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransporterNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransporterNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransporterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransporterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransporterState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransporterState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransporterAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransporterAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
