@model IEnumerable<GIS_SCM.Models.Transporter>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Truck.TruckNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransporterNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransporterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransporterState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransporterAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Truck.TruckNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransporterNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransporterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nationality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransporterState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransporterAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
